## Automating Detection of Non-Functioning Readers

In [7]:
# import relevant modules

import matplotlib.pyplot as plt
import pandas as pd
import configparser
from psycopg2 import connect
import psycopg2.sql as pg
import pandas.io.sql as pandasql
import io
from os.path import expanduser
import os

# connect to database 
def con_to_db(cfg_path): 
    CONFIG = configparser.ConfigParser()
    CONFIG.read(r'%s' % cfg_path)
    dbset = CONFIG['DBSETTINGS']
    con = connect(**dbset)

con_to_db('C:\\Users\\alouis2\\Documents\\Python Scripts\\db.cfg')

`find_badroutes()` finds instances of potentially 'bad routes', i.e. routes who may have readers that are down. It returns the starts and ends of these routes in addition to the last time they were active.

In [2]:
def find_badroutes():
    string = ''' SELECT segments.analysis_id
               FROM bluetooth.segments
            EXCEPT
             SELECT DISTINCT f.analysis_id
               FROM (SELECT observations.analysis_id,
                        observations.measured_timestamp
                       FROM bluetooth.observations
                      WHERE observations.measured_timestamp <= (( SELECT max(observations_1.measured_timestamp) AS max
                               FROM bluetooth.observations observations_1)) AND observations.measured_timestamp >= (( SELECT max(observations_1.measured_timestamp) - '02:00:00'::interval
                               FROM bluetooth.observations observations_1)) AND (observations.analysis_id IN ( SELECT segments.analysis_id
                               FROM bluetooth.segments))
                      ORDER BY observations.measured_timestamp DESC) f'''

    df = pandasql.read_sql(pg.SQL(string), con)
    badroutes = []
    for i in range(len(df['analysis_id'])):
        string = '''SELECT analysis_id, startpoint_name, endpoint_name,  measured_timestamp as last_active FROM bluetooth.observations
                    WHERE analysis_id = %d 
                    ORDER BY measured_timestamp desc 
                    LIMIT 1''' % list(df['analysis_id'])[i]
        row = pandasql.read_sql(pg.SQL(string), con)
        badroutes.append(list(row.loc[0]))
    badroutes = pd.DataFrame(badroutes, columns = list(row.columns.values)).sort_values(by='last_active').reset_index(drop=True)
    return badroutes
    
badroutes = find_badroutes()
badroutes

    analysis_id startpoint_name endpoint_name         last_active
0       1432978             BR3           BR4 2017-07-21 08:20:11
1       1432982             BR2           BR3 2017-07-21 09:13:37
2       1454853           QU_RO         DU_RO 2017-12-17 17:57:21
3       1453507           DU_DF         DU_RO 2017-12-17 17:59:21
4       1412684             AD2           AD1 2017-12-17 18:00:14
5       1454832           DU_RO         QU_RO 2017-12-17 18:44:11
6       1412641             AD1           AD2 2017-12-17 18:47:53
7       1453239           DU_RO         DU_DF 2017-12-17 18:51:17
8       1453667           QU_PA         QU_BV 2018-02-15 08:01:21
9       1455724           EA_BV         QU_BV 2018-02-15 08:13:30
10      1454293           KN_PA         QU_BV 2018-02-15 08:13:30
11      1453680           QU_BV         QU_PA 2018-02-15 08:18:06
12      1455710           QU_BV         EA_BV 2018-02-15 08:26:45
13      1454311           QU_BV         KN_PA 2018-02-15 08:30:11

`find_goodroutes()` finds all 'good routes', i.e. routes with seemingly working readers, and returns a data frame with all these routes.

In [4]:
def find_goodroutes():
    string2 = '''SELECT analysis_id, startpoint_name, endpoint_name
                FROM bluetooth.observations
                    WHERE observations.measured_timestamp <= (( SELECT max(observations_1.measured_timestamp) AS max
                    FROM bluetooth.observations observations_1)) AND observations.measured_timestamp >= (( SELECT max(observations_1.measured_timestamp) - '02:00:00'::interval
                    FROM bluetooth.observations observations_1)) AND (observations.analysis_id IN ( SELECT segments.analysis_id
                    FROM bluetooth.segments))
                    GROUP BY analysis_id, startpoint_name, endpoint_name;'''

    df2 = pandasql.read_sql(pg.SQL(string2), con)
    return df2

goodroutes = find_goodroutes()
goodroutes

     analysis_id startpoint_name endpoint_name
0         116449               J             I
1         116451               I             J
2         116749               A             B
3         116796               F             G
4         116804               G             H
5         116812               H             I
6         116828               J             K
7         116834               K             J
8         116846               I             H
9         116852               H             G
10        116858               G             F
11        116894               B             A
12        130557               C             D
13        130572               E             F
14        130578               F             E
15        130590               D             C
16        165718           E4035        LY5057
17        165725          LY5057         D5017
18        378651          B15056         B5012
19       1387517           B5012            B1
20       1388022          B15056         C5013
21       1390125               E             D
22       1390390           C5013        B15056
23       1390751          LY5057        Z25015
24       1391156              Z2            Z1
25       1391551              Z1             B
26       1391870               B            Z1
27       1391996        C (Qual)             E
28       1393119              Z1            Z2
29       1393437          Z25015        LB5061
..           ...             ...           ...
155      1455243           CO_UN         DU_UN
156      1455256           DU_UN         QU_UN
157      1455275           QU_UN         KN_UN
158      1455296           KN_UN         FR_UN
159      1455310           FR_UN         FB_YK
160      1455327           FB_YK         FR_UN
161      1455351           FR_UN         KN_UN
162      1455369           KN_UN         QU_UN
163      1455385           QU_UN         DU_UN
164      1455400           DU_UN         CO_UN
165      1455412           DU_YO         QU_YO
166      1455427           QU_YO         KN_YO
167      1455443           KN_YO         FR_YO
168      1455456           FR_YO         KN_YO
169      1455468           KN_YO         QU_YO
170      1455480           QU_YO         DU_YO
171      1455493           DU_JA         QU_JA
172      1455510           QU_JA         KN_JA
173      1455525           KN_JA         FR_JA
174      1455538           FR_JA         KN_JA
175      1455555           KN_JA         QU_JA
176      1455570           QU_JA         DU_JA
177      1455585           CO_PA         DU_PA
178      1455603           DU_PA         QU_PA
179      1455616           QU_PA         KN_PA
180      1455628           KN_PA         FR_PA
181      1455641           FR_PA         KN_PA
182      1455658           KN_PA         QU_PA
183      1455676           QU_PA         DU_PA
184      1455692           DU_PA         CO_PA

[185 rows x 3 columns]

`find_brokenreaders(badroutes, goodroutes`, consumes a dataframe returned by `badroutes()` and a dataframe returned by `goodroutes()`, and through a series of `for` and `while` loops returns a final dataframe contianing all individual broken readers, the last time they were active, and also the routes affected by those broken readers. Moreover, it puts this dataframe into a csv for the user, putting it into their documents folder.

In [5]:
def find_brokenreaders(badroutes, goodroutes):
    final = []
    for i in range(len(badroutes)): 
        if (badroutes['startpoint_name'].values[i] not in goodroutes['startpoint_name'].values \
        and badroutes['startpoint_name'].values[i] not in goodroutes['endpoint_name'].values):
            final.append(badroutes['startpoint_name'].values[i])
    for i in range(len(badroutes)):
        if badroutes['endpoint_name'].values[i] not in goodroutes['startpoint_name'].values \
        and badroutes['endpoint_name'].values[i] not in goodroutes ['endpoint_name'].values:
            final.append(badroutes['endpoint_name'].values[i])
    final = list(set(final))
    for i in final: 
        j = (len(badroutes))-1
        while j < len(badroutes):
            if i == badroutes['startpoint_name'].values[j]:
                final[final.index(i)] = ([i, badroutes['last_active'].values[j]])
                break
            elif i == badroutes['endpoint_name'].values[j]:
                final[final.index(i)] = ([i, badroutes['last_active'].values[j]])
                break
            else:
                j = j-1
    for i in final:
        final[final.index(i)].append([])
        starts = list(badroutes['startpoint_name'].values)
        ends = list(badroutes['endpoint_name'].values)
        j = 0 
        while j < len(starts):
            if i[0] == starts[j]: 
                final[final.index(i)][2].append('' + starts[j] + ' to ' + ends[j] + '')
                j += 1
            else:
                j += 1
        j = 0
        while j < len(ends):
            if i[0] == ends[j]:
                final[final.index(i)][2].append('' + starts[j] + ' to ' + ends[j] + '')
                j += 1
            else:
                j += 1
        final[final.index(i)][2] = (", ".join(final[final.index(i)][2]))
    for i in range(len(badroutes)): 
        if (badroutes['startpoint_name'].values[i] in goodroutes['startpoint_name'].values or \
            badroutes['startpoint_name'].values[i] in goodroutes['endpoint_name'].values)\
        and (badroutes['endpoint_name'].values[i] in goodroutes['startpoint_name'].values or \
             badroutes['endpoint_name'].values[i] in goodroutes['endpoint_name'].values):
            final.append(['-', '-', badroutes['startpoint_name'].values[i]])
    
    broken_readers = pd.DataFrame(final, columns = ['Reader', 'Last Active', 'Routes Affected'])
    home = expanduser("~")
    path=  home + '\\Documents'
    broken_readers.to_csv(os.path.join(path,r'broken_readers.csv'), index = False)
    return broken_readers

broken_readers = find_brokenreaders(badroutes, goodroutes)
broken_readers

,Reader,Last Active,Routes Affected
0,DU_RO,2017-12-17 18:51:17,"DU_RO to QU_RO, DU_RO to DU_DF, QU_RO to DU_RO..."
1,QU_BV,2018-02-15 08:30:11,"QU_BV to QU_PA, QU_BV to EA_BV, QU_BV to KN_PA..."
2,AD1,2017-12-17 18:47:53,"AD1 to AD2, AD2 to AD1"
3,BR3,2017-07-21 09:13:37,"BR3 to BR4, BR2 to BR3"
4,BR4,2017-07-21 08:20:11,BR3 to BR4