# Exploring the Nature of OD Date
***
We wish to conduct an exploratory analysis on OD Data. Firstly, two CSV's are grabbed from BlipTrack `BlipTrack-Toronto_DT_OD_Start_End_Multiple_Outcomes_ut_20180101-20180102.csv` and `BlipTrack-Toronto_DT_OD_Others_Multiple_Outcomes_ut_20180101-20180102.csv`. The first is a binary containing data for the start of a route and the end of a route, with a 1 or 0 corresponding to whether or not that intersection was chosen as a start/end or not. The second is a table containing a particular route a vehicle has taken, with 1's and 0's corresponding to whether or not they passed a respective intersection on that route. 

<br>
We import these two tables into the alouis2 schema, under the names `startend_raw` and `others_raw`.

In [17]:
%load_ext sql
%sql postgresql://alouis2:vFjUewKIKQvkrGontMRi@10.160.12.47:5432/bigdata

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: alouis2@bigdata'

We change extract relevant data we will be working with by selecting only the columns we need. Below are the queries used to create `others_path` and `startend_path`, two tables containing relevant information from their raw counterparts.

In [19]:
%%sql
CREATE TABLE others_path
(
  datetime_bin timestamp without time zone,
  userid bigint,  co_ba integer,  co_un integer,  co_pa integer,  du_ro integer,  du_df integer,
  du_ba integer,  du_sp integer,  du_un integer,  du_yo integer,  du_ja integer,  du_pa integer,
  qu_ro integer,  qu_df integer,  qu_st integer,  qu_ba integer,  qu_sp integer,  qu_un integer,
  qu_yo integer,  qu_ja integer,  qu_pa integer,  qu_bv integer,  rm_ba integer,  rm_sp integer,
  rm_un integer,  rm_yo integer,  rm_ja integer,  rm_pa integer,  ad_ba integer,  ad_sp integer,
  ad_un integer,  ad_yo integer,  ad_ja integer,  ad_pa integer,  kn_df integer,  kn_st integer,
  kn_ba integer,  kn_sp integer,  kn_un integer,  kn_yo integer,  kn_ja integer,  kn_pa integer,
  we_bj integer,  we_un integer,  we_yo integer,  fr_ba integer,  fr_sp integer,  fr_un integer,
  fr_yo integer,  fr_ja integer,  fr_pa integer,  fb_ba integer,  fb_sp integer,  fb_yk integer,
  ea_bv integer,  path_total integer
)
WITH (
  OIDS=FALSE
);
ALTER TABLE others_path
  OWNER TO alouis2;

(psycopg2.ProgrammingError) relation "others_path" already exists
 [SQL: 'CREATE TABLE others_path\n(\n  datetime_bin timestamp without time zone,\n  userid bigint,\n  co_ba integer,\n  co_un integer,\n  co_pa integer,\n  du_ro integer,\n  du_df integer,\n  du_ba integer,\n  du_sp integer,\n  du_un integer,\n  du_yo integer,\n  du_ja integer,\n  du_pa integer,\n  qu_ro integer,\n  qu_df integer,\n  qu_st integer,\n  qu_ba integer,\n  qu_sp integer,\n  qu_un integer,\n  qu_yo integer,\n  qu_ja integer,\n  qu_pa integer,\n  qu_bv integer,\n  rm_ba integer,\n  rm_sp integer,\n  rm_un integer,\n  rm_yo integer,\n  rm_ja integer,\n  rm_pa integer,\n  ad_ba integer,\n  ad_sp integer,\n  ad_un integer,\n  ad_yo integer,\n  ad_ja integer,\n  ad_pa integer,\n  kn_df integer,\n  kn_st integer,\n  kn_ba integer,\n  kn_sp integer,\n  kn_un integer,\n  kn_yo integer,\n  kn_ja integer,\n  kn_pa integer,\n  we_bj integer,\n  we_un integer,\n  we_yo integer,\n  fr_ba integer,\n  fr_sp integer,\n  fr_un integer,\n  fr_yo integer,\n  fr_ja integer,\n  fr_pa integer,\n  fb_ba integer,\n  fb_sp integer,\n  fb_yk integer,\n  ea_bv integer,\n  path_total integer\n)\nWITH (\n  OIDS=FALSE\n);']

In [20]:
%%sql 
CREATE TABLE startend_path
(
  datetime_bin timestamp without time zone,
  userid bigint,
  s_co_ba integer,  s_co_un integer,  s_co_pa integer,  s_du_ro integer,  s_du_df integer,
  s_du_ba integer,  s_du_sp integer,  s_du_un integer,  s_du_yo integer,  s_du_ja integer,
  s_du_pa integer,  s_qu_ro integer,  s_qu_df integer,  s_qu_st integer,  s_qu_ba integer,
  s_qu_sp integer,  s_qu_un integer,  s_qu_yo integer,  s_qu_ja integer,  s_qu_pa integer,
  s_qu_bv integer,  s_rm_ba integer,  s_rm_sp integer,  s_rm_un integer,  s_rm_yo integer,
  s_rm_ja integer,  s_rm_pa integer,  s_ad_ba integer,  s_ad_sp integer,  s_ad_un integer,
  s_ad_yo integer,  s_ad_ja integer,  s_ad_pa integer,  s_kn_df integer,  s_kn_st integer,
  s_kn_ba integer,  s_kn_sp integer,  s_kn_un integer,  s_kn_yo integer,  s_kn_ja integer,
  s_kn_pa integer,  s_we_bj integer,  s_we_un integer,  s_we_yo integer,  s_fr_ba integer,
  s_fr_sp integer,  s_fr_un integer,  s_fr_yo integer,  s_fr_ja integer,  s_fr_pa integer,
  s_fb_ba integer,  s_fb_sp integer,  s_fb_yk integer,  s_ea_bv integer,  e_co_ba integer,
  e_co_un integer,  e_co_pa integer,  e_du_ro integer,  e_du_df integer,  e_du_ba integer,
  e_du_sp integer,  e_du_un integer,  e_du_yo integer,  e_du_ja integer,  e_du_pa integer,
  e_qu_ro integer,  e_qu_df integer,  e_qu_st integer,  e_qu_ba integer,  e_qu_sp integer,
  e_qu_un integer,  e_qu_yo integer,  e_qu_ja integer,  e_qu_pa integer,  e_qu_bv integer,
  e_rm_ba integer,  e_rm_sp integer,  e_rm_un integer,  e_rm_yo integer,  e_rm_ja integer,
  e_rm_pa integer,  e_ad_ba integer,  e_ad_sp integer,  e_ad_un integer,  e_ad_yo integer,
  e_ad_ja integer,  e_ad_pa integer,  e_kn_df integer,  e_kn_st integer,  e_kn_ba integer,
  e_kn_sp integer,  e_kn_un integer,  e_kn_yo integer,  e_kn_ja integer,  e_kn_pa integer,
  e_we_bj integer,  e_we_un integer,  e_we_yo integer,  e_fr_ba integer,  e_fr_sp integer,
  e_fr_un integer,  e_fr_yo integer,  e_fr_ja integer,  e_fr_pa integer,  e_fb_ba integer,
  e_fb_sp integer,  e_fb_yk integer,  e_ea_bv integer
)
WITH (
  OIDS=FALSE
);
ALTER TABLE startend_path
  OWNER TO alouis2;

(psycopg2.ProgrammingError) relation "startend_path" already exists
 [SQL: 'CREATE TABLE startend_path\n(\n  datetime_bin timestamp without time zone,\n  userid bigint,\n  s_co_ba integer,  s_co_un integer,  s_co_pa integer,  s_du_ro integer,  s_du_df integer,\n  s_du_ba integer,  s_du_sp integer,  s_du_un integer,  s_du_yo integer,  s_du_ja integer,\n  s_du_pa integer,  s_qu_ro integer,  s_qu_df integer,  s_qu_st integer,  s_qu_ba integer,\n  s_qu_sp integer,  s_qu_un integer,  s_qu_yo integer,  s_qu_ja integer,  s_qu_pa integer,\n  s_qu_bv integer,  s_rm_ba integer,  s_rm_sp integer,  s_rm_un integer,  s_rm_yo integer,\n  s_rm_ja integer,  s_rm_pa integer,  s_ad_ba integer,  s_ad_sp integer,  s_ad_un integer,\n  s_ad_yo integer,  s_ad_ja integer,  s_ad_pa integer,  s_kn_df integer,  s_kn_st integer,\n  s_kn_ba integer,  s_kn_sp integer,  s_kn_un integer,  s_kn_yo integer,  s_kn_ja integer,\n  s_kn_pa integer,  s_we_bj integer,  s_we_un integer,  s_we_yo integer,  s_fr_ba integer,\n  s_fr_sp integer,  s_fr_un integer,  s_fr_yo integer,  s_fr_ja integer,  s_fr_pa integer,\n  s_fb_ba integer,  s_fb_sp integer,  s_fb_yk integer,  s_ea_bv integer,  e_co_ba integer,\n  e_co_un integer,  e_co_pa integer,  e_du_ro integer,  e_du_df integer,  e_du_ba integer,\n  e_du_sp integer,  e_du_un integer,  e_du_yo integer,  e_du_ja integer,  e_du_pa integer,\n  e_qu_ro integer,  e_qu_df integer,  e_qu_st integer,  e_qu_ba integer,  e_qu_sp integer,\n  e_qu_un integer,  e_qu_yo integer,  e_qu_ja integer,  e_qu_pa integer,  e_qu_bv integer,\n  e_rm_ba integer,  e_rm_sp integer,  e_rm_un integer,  e_rm_yo integer,  e_rm_ja integer,\n  e_rm_pa integer,  e_ad_ba integer,  e_ad_sp integer,  e_ad_un integer,  e_ad_yo integer,\n  e_ad_ja integer,  e_ad_pa integer,  e_kn_df integer,  e_kn_st integer,  e_kn_ba integer,\n  e_kn_sp integer,  e_kn_un integer,  e_kn_yo integer,  e_kn_ja integer,  e_kn_pa integer,\n  e_we_bj integer,  e_we_un integer,  e_we_yo integer,  e_fr_ba integer,  e_fr_sp integer,\n  e_fr_un integer,  e_fr_yo integer,  e_fr_ja integer,  e_fr_pa integer,  e_fb_ba integer,\n  e_fb_sp integer,  e_fb_yk integer,  e_ea_bv integer\n)\nWITH (\n  OIDS=FALSE\n);']

Now we have only relevant information we need for our exploratory analysis, which makes queries easier to run. Moreover, we create a column `path_total` for our table `others_path` so we now how many interections were passed for each particular route. 

<br>
Notice the discrepancy between the path data and the startend data, i.e. 21205 vs 14667 rows. This is because there are many datapoints in `others_raw` with a path total of 1. To eliminate this discrepancy, we have to eliminate all `path_total` values of 1. We do this with the following code:

In [30]:
%%sql DELETE FROM alouis2.others_path
WHERE path_total = 1;

0 rows affected.

[]

In [27]:
%sql select count(datetime_bin)from startend_path

1 rows affected.

[(14667,)]

In [28]:
%sql select count(datetime_bin)from others_path

1 rows affected.

[(14667,)]

As seen above, after deleting all rows with 1 path totals, the row counts are the same. Now we have for each datetime stamp and user id, an origin, destination, and path. However, this information is split accross our two schemas. We wish to combine them to facilitate analysis.

<br>
Firstly, we need to pivot `startend_path`. What do we mean by pivot? We want to create a `start` and `end` column, containing a text representing the origin and destination of a vehicle. Essentially we will convert the binary table to a much more easier to read start/end table.

<br> 
Please refer to the `pivot.ipynb` to see how this was done. We now have a new table, `startend_pivot`. A few rows are selected below:

In [32]:
%sql select * from alouis2.startend_pivot limit 10

10 rows affected.

[(datetime.datetime(2018, 1, 1, 0, 0, 17), -4109236477481291089, 'du_yo', 'du_ja'),
 (datetime.datetime(2018, 1, 1, 0, 1, 8), -1672501126208601408, 'du_pa', 'qu_bv'),
 (datetime.datetime(2018, 1, 1, 0, 1, 11), -5833274664015405017, 'du_ja', 'du_yo'),
 (datetime.datetime(2018, 1, 1, 0, 2, 8), 8147950039115731659, 'du_pa', 'du_ja'),
 (datetime.datetime(2018, 1, 1, 0, 2, 11), 2538540623439968621, 'kn_df', 'du_df'),
 (datetime.datetime(2018, 1, 1, 0, 2, 47), 1200906276903573645, 'fr_ja', 'du_ja'),
 (datetime.datetime(2018, 1, 1, 0, 2, 59), -4164760066955224419, 'du_df', 'qu_ro'),
 (datetime.datetime(2018, 1, 1, 0, 2, 59), 8620276987661645868, 'ad_ba', 'qu_ba'),
 (datetime.datetime(2018, 1, 1, 0, 3, 16), 6853760512054168715, 'co_un', 'du_un'),
 (datetime.datetime(2018, 1, 1, 0, 3, 22), -7601830370391951161, 'qu_sp', 'co_un')]

This is much easier to read. Now we create a view to join `startend_pivot` and `others_path` to create a complete table summarizing our OD Data.

In [34]:
%%sql CREATE OR REPLACE VIEW complete AS 
 SELECT startend_pivot.datetime_bin,
    startend_pivot.userid,     startend_pivot.start,    startend_pivot."end",    others_path.co_ba,
    others_path.co_un,    others_path.co_pa,    others_path.du_ro,    others_path.du_df,    others_path.du_ba,
    others_path.du_sp,    others_path.du_un,    others_path.du_yo,    others_path.du_ja,    others_path.du_pa,
    others_path.qu_ro,    others_path.qu_df,    others_path.qu_st,    others_path.qu_ba,    others_path.qu_sp,    
    others_path.qu_un,    others_path.qu_yo,    others_path.qu_ja,    others_path.qu_pa,    others_path.qu_bv,
    others_path.rm_ba,    others_path.rm_sp,    others_path.rm_un,    others_path.rm_yo,    others_path.rm_ja,
    others_path.rm_pa,    others_path.ad_ba,    others_path.ad_sp,    others_path.ad_un,    others_path.ad_yo,
    others_path.ad_ja,    others_path.ad_pa,    others_path.kn_df,    others_path.kn_st,    others_path.kn_ba,
    others_path.kn_sp,    others_path.kn_un,    others_path.kn_yo,    others_path.kn_ja,    others_path.kn_pa,
    others_path.we_bj,    others_path.we_un,    others_path.we_yo,    others_path.fr_ba,    others_path.fr_sp,
    others_path.fr_un,    others_path.fr_yo,    others_path.fr_ja,    others_path.fr_pa,    others_path.fb_ba,
    others_path.fb_sp,    others_path.fb_yk,    others_path.ea_bv,    others_path.path_total
   FROM startend_pivot
     JOIN others_path USING (datetime_bin, userid);

ALTER TABLE complete
  OWNER TO alouis2;

Done.
Done.

[]

In [33]:
%sql select * from complete limit 10;

10 rows affected.

[(datetime.datetime(2018, 1, 1, 0, 0, 17), -4109236477481291089, 'du_yo', 'du_ja', 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2),
 (datetime.datetime(2018, 1, 1, 0, 1, 8), -1672501126208601408, 'du_pa', 'qu_bv', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2),
 (datetime.datetime(2018, 1, 1, 0, 1, 11), -5833274664015405017, 'du_ja', 'du_yo', 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2),
 (datetime.datetime(2018, 1, 1, 0, 2, 8), 8147950039115731659, 'du_pa', 'du_ja', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2),
 (datetime.datetime(2018, 1, 1, 0, 2, 11), 2538540623439968621, 'kn_df', 'du_df', 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2),
 (datetime.datetime(2018, 1, 1, 0, 2, 47), 1200906276903573645, 'fr_ja', 'du_ja', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 5),
 (datetime.datetime(2018, 1, 1, 0, 2, 59), -4164760066955224419, 'du_df', 'qu_ro', 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3),
 (datetime.datetime(2018, 1, 1, 0, 2, 59), 8620276987661645868, 'ad_ba', 'qu_ba', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3),
 (datetime.datetime(2018, 1, 1, 0, 3, 16), 6853760512054168715, 'co_un', 'du_un', 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2),
 (datetime.datetime(2018, 1, 1, 0, 3, 22), -7601830370391951161, 'qu_sp', 'co_un', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2)]

Now we have a table with a date, userid, start, end, and binary representation of a path. This will be very useful and it will be our primary table when analyzing discrepancies in our OD data.

We wish to start comparing segment data with OD data. In order to do this, we need relevant segment data. The observation schema is huge, so it's important to only select the parameters and columns we want. 

<br>
In our case, we are only interested in date on `2018-01-01`, as this is the date relevant to our OD Data. Moreover, we are only interested in the `startpoint` and `endpoint` columns, as they tell us the beginning and end of a segment that we can compare with origin/destination values. 

<br>
Most importantly, we only need segments relevant to our date. In the bluetooth schema, there are a tonne of arterial and other roads that are not related to our OD analyis. For this reason, we filter out the `observations_201801` data according to relevant analysis id's. We obtain these analysis id's via the `bt_segments` table. From this, we create the following view:

In [35]:
%%sql 

CREATE OR REPLACE VIEW segs AS 
 SELECT observations_201801.user_id AS userid,
    observations_201801.measured_timestamp AS datetime_bin,
    observations_201801.startpoint_name,
    observations_201801.endpoint_name
   FROM bluetooth.observations_201801
     JOIN king_pilot.bt_segments USING (analysis_id)
  WHERE observations_201801.measured_timestamp::date = '2018-01-01'::date;

ALTER TABLE segs
  OWNER TO alouis2;

Done.
Done.

[]

In [36]:
%sql select * from segs limit 10;

10 rows affected.

[(5743397643185836572, datetime.datetime(2018, 1, 1, 0, 1, 38), 'DU_SP', 'QU_SP'),
 (1983310123336577193, datetime.datetime(2018, 1, 1, 0, 1, 48), 'DU_SP', 'QU_SP'),
 (5845560332819052158, datetime.datetime(2018, 1, 1, 0, 2, 2), 'DU_SP', 'QU_SP'),
 (-5467631566719003672, datetime.datetime(2018, 1, 1, 0, 3, 26), 'DU_SP', 'QU_SP'),
 (3183759557119372248, datetime.datetime(2018, 1, 1, 0, 3, 35), 'DU_SP', 'QU_SP'),
 (-4833118714705926778, datetime.datetime(2018, 1, 1, 0, 4, 30), 'DU_SP', 'QU_SP'),
 (8354011825964247019, datetime.datetime(2018, 1, 1, 0, 5, 9), 'DU_SP', 'QU_SP'),
 (4555555699814881036, datetime.datetime(2018, 1, 1, 0, 6, 31), 'DU_SP', 'QU_SP'),
 (-8424651304893524140, datetime.datetime(2018, 1, 1, 0, 6, 32), 'DU_SP', 'QU_SP'),
 (6439947428109779441, datetime.datetime(2018, 1, 1, 0, 6, 35), 'DU_SP', 'QU_SP')]