## Pivoting Start/End OD Data
***

The following function `pivot` pivots a start/end table, i.e. it takes the binary matrix values and translates them to more readable dataframe containing the names of the start and end intersections as cells as opposed to 1's and 0's.

In [5]:
## import relevant modules

import configparser
from psycopg2 import connect
import psycopg2.sql as pg
import pandas.io.sql as pandasql
import pandas as pd
from sqlalchemy import create_engine
import io

In [2]:
# connect to database
CONFIG = configparser.ConfigParser()
CONFIG.read(r'C:\Users\alouis2\Documents\Python Scripts\db.cfg')
dbset = CONFIG['DBSETTINGS']
con = connect(**dbset)

string = 'SELECT * FROM alouis2.startend_path'
df = pandasql.read_sql(pg.SQL(string), con)

df.head(15)

,datetime_bin,userid,s_co_ba,s_co_un,s_co_pa,s_du_ro,s_du_df,s_du_ba,s_du_sp,s_du_un,...,e_fr_ba,e_fr_sp,e_fr_un,e_fr_yo,e_fr_ja,e_fr_pa,e_fb_ba,e_fb_sp,e_fb_yk,e_ea_bv
0,2018-01-01 00:00:17,-4109236477481291089,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2018-01-01 00:01:08,-1672501126208601408,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2018-01-01 00:01:11,-5833274664015405017,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2018-01-01 00:02:08,8147950039115731659,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2018-01-01 00:02:11,2538540623439968621,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2018-01-01 00:02:47,1200906276903573645,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,2018-01-01 00:02:59,-4164760066955224419,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,2018-01-01 00:02:59,8620276987661645868,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,2018-01-01 00:03:16,6853760512054168715,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,2018-01-01 00:03:22,-7601830370391951161,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,2018-01-01 00:04:06,-3110345525259057486,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2018-01-01 00:04:10,3165959906971385372,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,2018-01-01 00:04:17,2369627545871331067,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,2018-01-01 00:04:35,4744486598999005876,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
14,2018-01-01 00:04:46,4978498391466737031,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [3]:
def pivot(startend_df):
    se = list(df.columns)[2:]
    reformatted = []
    for i in range(len(startend_df)):
        l = []
        l.append(startend_df.loc[i,]['datetime_bin'])
        l.append(startend_df.loc[i,]['userid'])    
        for j in se:
            if startend_df[j].values[i] == 1:
                l.append(j[2:])
        reformatted.append(l)
    labels = ['datetime_bin', 'userid', 'start', 'end']
    return pd.DataFrame.from_records(reformatted, columns=labels)

newdf = pivot(df)
newdf.head(15)

          datetime_bin               userid  start    end
0  2018-01-01 00:00:17 -4109236477481291089  du_yo  du_ja
1  2018-01-01 00:01:08 -1672501126208601408  du_pa  qu_bv
2  2018-01-01 00:01:11 -5833274664015405017  du_ja  du_yo
3  2018-01-01 00:02:08  8147950039115731659  du_pa  du_ja
4  2018-01-01 00:02:11  2538540623439968621  kn_df  du_df
5  2018-01-01 00:02:47  1200906276903573645  fr_ja  du_ja
6  2018-01-01 00:02:59 -4164760066955224419  du_df  qu_ro
7  2018-01-01 00:02:59  8620276987661645868  ad_ba  qu_ba
8  2018-01-01 00:03:16  6853760512054168715  co_un  du_un
9  2018-01-01 00:03:22 -7601830370391951161  qu_sp  co_un
10 2018-01-01 00:04:06 -3110345525259057486  co_un  du_yo
11 2018-01-01 00:04:10  3165959906971385372  qu_df  kn_st
12 2018-01-01 00:04:17  2369627545871331067  kn_ja  ad_ja
13 2018-01-01 00:04:35  4744486598999005876  fr_ba  fb_ba
14 2018-01-01 00:04:46  4978498391466737031  fr_sp  fb_sp

In [16]:
CONFIG.read(r'C:\Users\alouis2\Documents\Python Scripts\engine.cfg')
engine = create_engine(CONFIG['engine']['e'])
conn=engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
newdf.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'alouis2.startend_pivot', null="") #null values become ''   
conn.commit()