## Pivoting Start/End OD Data
***

The following function `pivot` pivots a start/end table, i.e. it takes the binary matrix values and translates them to more readable dataframe containing the names of the start and end intersections as cells as opposed to 1's and 0's.

In [1]:
## import relevant modules

import configparser
from psycopg2 import connect
import psycopg2.sql as pg
import pandas.io.sql as pandasql
import pandas as pd
from sqlalchemy import create_engine
import io

In [13]:
# connect to database
CONFIG = configparser.ConfigParser()
CONFIG.read(r'C:\Users\alouis2\Documents\Python Scripts\db.cfg')
dbset = CONFIG['DBSETTINGS']
con = connect(**dbset)

string = 'SELECT * FROM alouis2.startend_path'
df = pandasql.read_sql(pg.SQL(string), con)

df.head(15)

,datetime_bin,userid,s_co_ba,s_co_un,s_co_pa,s_du_ro,s_du_df,s_du_ba,s_du_sp,s_du_un,...,e_fr_ba,e_fr_sp,e_fr_un,e_fr_yo,e_fr_ja,e_fr_pa,e_fb_ba,e_fb_sp,e_fb_yk,e_ea_bv
0,2018-01-01 00:00:17,-4109236477481291089,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2018-01-01 00:01:08,-1672501126208601408,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2018-01-01 00:01:11,-5833274664015405017,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2018-01-01 00:02:08,8147950039115731659,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2018-01-01 00:02:11,2538540623439968621,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2018-01-01 00:02:47,1200906276903573645,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,2018-01-01 00:02:59,-4164760066955224419,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,2018-01-01 00:02:59,8620276987661645868,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,2018-01-01 00:03:16,6853760512054168715,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,2018-01-01 00:03:22,-7601830370391951161,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,2018-01-01 00:04:06,-3110345525259057486,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2018-01-01 00:04:10,3165959906971385372,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,2018-01-01 00:04:17,2369627545871331067,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,2018-01-01 00:04:35,4744486598999005876,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
14,2018-01-01 00:04:46,4978498391466737031,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [14]:
def pivot_se(startend_df):
    se = list(df.columns)[2:]
    reformatted = []
    for i in range(len(startend_df)):
        l = []
        l.append(startend_df.loc[i,]['datetime_bin'])
        l.append(startend_df.loc[i,]['userid'])    
        for j in se:
            if startend_df[j].values[i] == 1:
                l.append(j[2:])
        reformatted.append(l)
    labels = ['datetime_bin', 'userid', 'start', 'end']
    return pd.DataFrame.from_records(reformatted, columns=labels)

newdf = pivot_se(df)
newdf.head(15)

          datetime_bin               userid  start    end
0  2018-01-01 00:00:17 -4109236477481291089  du_yo  du_ja
1  2018-01-01 00:01:08 -1672501126208601408  du_pa  qu_bv
2  2018-01-01 00:01:11 -5833274664015405017  du_ja  du_yo
3  2018-01-01 00:02:08  8147950039115731659  du_pa  du_ja
4  2018-01-01 00:02:11  2538540623439968621  kn_df  du_df
5  2018-01-01 00:02:47  1200906276903573645  fr_ja  du_ja
6  2018-01-01 00:02:59 -4164760066955224419  du_df  qu_ro
7  2018-01-01 00:02:59  8620276987661645868  ad_ba  qu_ba
8  2018-01-01 00:03:16  6853760512054168715  co_un  du_un
9  2018-01-01 00:03:22 -7601830370391951161  qu_sp  co_un
10 2018-01-01 00:04:06 -3110345525259057486  co_un  du_yo
11 2018-01-01 00:04:10  3165959906971385372  qu_df  kn_st
12 2018-01-01 00:04:17  2369627545871331067  kn_ja  ad_ja
13 2018-01-01 00:04:35  4744486598999005876  fr_ba  fb_ba
14 2018-01-01 00:04:46  4978498391466737031  fr_sp  fb_sp

In [16]:
CONFIG.read(r'C:\Users\alouis2\Documents\Python Scripts\engine.cfg')
engine = create_engine(CONFIG['engine']['e'])
conn=engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
newdf.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'alouis2.startend_pivot', null="") #null values become ''   
conn.commit()

In [56]:
string = 'SELECT * FROM alouis2.complete'
df = pandasql.read_sql(pg.SQL(string), con)
df

,datetime_bin,userid,start,end,co_ba,co_un,co_pa,du_ro,du_df,du_ba,...,fr_sp,fr_un,fr_yo,fr_ja,fr_pa,fb_ba,fb_sp,fb_yk,ea_bv,path_total
0,2018-01-01 00:00:17,-4109236477481291089,du_yo,du_ja,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
1,2018-01-01 00:00:17,-4109236477481291089,du_yo,du_ja,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
2,2018-01-01 00:01:08,-1672501126208601408,du_pa,qu_bv,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
3,2018-01-01 00:01:08,-1672501126208601408,du_pa,qu_bv,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
4,2018-01-01 00:01:11,-5833274664015405017,du_ja,du_yo,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
5,2018-01-01 00:01:11,-5833274664015405017,du_ja,du_yo,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
6,2018-01-01 00:02:08,8147950039115731659,du_pa,du_ja,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
7,2018-01-01 00:02:08,8147950039115731659,du_pa,du_ja,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
8,2018-01-01 00:02:11,2538540623439968621,kn_df,du_df,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,2
9,2018-01-01 00:02:11,2538540623439968621,kn_df,du_df,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,2
10,2018-01-01 00:02:47,1200906276903573645,fr_ja,du_ja,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,5
11,2018-01-01 00:02:47,1200906276903573645,fr_ja,du_ja,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,5
12,2018-01-01 00:02:59,-4164760066955224419,du_df,qu_ro,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,3
13,2018-01-01 00:02:59,-4164760066955224419,du_df,qu_ro,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,3
14,2018-01-01 00:02:59,8620276987661645868,ad_ba,qu_ba,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
15,2018-01-01 00:02:59,8620276987661645868,ad_ba,qu_ba,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
16,2018-01-01 00:03:16,6853760512054168715,co_un,du_un,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
17,2018-01-01 00:03:16,6853760512054168715,co_un,du_un,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
18,2018-01-01 00:03:22,-7601830370391951161,qu_sp,co_un,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
19,2018-01-01 00:03:22,-7601830370391951161,qu_sp,co_un,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
20,2018-01-01 00:04:06,-3110345525259057486,co_un,du_yo,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
21,2018-01-01 00:04:06,-3110345525259057486,co_un,du_yo,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
22,2018-01-01 00:04:10,3165959906971385372,qu_df,kn_st,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
23,2018-01-01 00:04:10,3165959906971385372,qu_df,kn_st,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
24,2018-01-01 00:04:17,2369627545871331067,kn_ja,ad_ja,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
25,2018-01-01 00:04:17,2369627545871331067,kn_ja,ad_ja,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
26,2018-01-01 00:04:35,4744486598999005876,fr_ba,fb_ba,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,2
27,2018-01-01 00:04:35,4744486598999005876,fr_ba,fb_ba,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,2
28,2018-01-01 00:04:46,4978498391466737031,fr_sp,fb_sp,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,2
29,2018-01-01 00:04:46,4978498391466737031,fr_sp,fb_sp,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29304,2018-01-01 23:59:26,2164087225125236726,qu_st,kn_ba,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
29305,2018-01-01 23:59:26,2164087225125236726,qu_st,kn_ba,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
29306,2018-01-01 23:59:28,3413433971323391265,co_ba,du_ba,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2
29307,2018-01-01 23:59:28,3413433971323391265,co_ba,du_ba,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2
29308,2018-01-01 23:59:30,5866023784135371270,du_ja,ad_un,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
29309,2018-01-01 23:59:30,5866023784135371270,du_ja,ad_un,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
29310,2018-01-01 23:59:34,-2090066052521909565,kn_df,qu_st,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
29311,2018-01-01 23:59:34,-2090066052521909565,kn_df,qu_st,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
29312,2018-01-01 23:59:35,5203498485482694891,fb_ba,kn_un,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,5
29313,2018-01-01 23:59:35,5203498485482694891,fb_ba,kn_un,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,5
29314,2018-01-01 23:59:39,-5572638897025928948,co_ba,du_yo,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,10
29315,2018-01-01 23:59:39,-5572638897025928948,co_ba,du_yo,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,10
29316,2018-01-01 23:59:39,-2797158226782179742,fb_sp,fb_yk,0,0,0,0,0,0,...,1,1,0,0,0,0,1,1,0,9
29317,2018-01-01 23:59:39,-2797158226782179742,fb_sp,fb_yk,0,0,0,0,0,0,...,1,1,0,0,0,0,1,1,0,9
29318,2018-01-01 23:59:42,-1772774817072405178,fr_ja,fr_ja,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,2
29319,2018-01-01 23:59:42,-1772774817072405178,fr_ja,fr_ja,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,2
29320,2018-01-01 23:59:46,1592808322351444890,du_df,fb_ba,0,0,0,0,1,0,...,1,0,0,0,0,1,1,0,0,9
29321,2018-01-01 23:59:46,1592808322351444890,du_df,fb_ba,0,0,0,0,1,0,...,1,0,0,0,0,1,1,0,0,9
29322,2018-01-01 23:59:50,-7180795073614553850,fr_sp,ad_sp,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,3
29323,2018-01-01 23:59:50,-7180795073614553850,fr_sp,ad_sp,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,3
29324,2018-01-01 23:59:50,-5399468081705131680,co_ba,rm_yo,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
29325,2018-01-01 23:59:50,-5399468081705131680,co_ba,rm_yo,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
29326,2018-01-01 23:59:51,2703173927225384587,fb_sp,fr_un,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,2
29327,2018-01-01 23:59:51,2703173927225384587,fb_sp,fr_un,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,2
29328,2018-01-01 23:59:56,-6973074664012671174,du_yo,fr_un,0,0,0,0,0,0,...,1,1,0,0,0,1,0,1,0,9
29329,2018-01-01 23:59:56,-6973074664012671174,du_yo,fr_un,0,0,0,0,0,0,...,1,1,0,0,0,1,0,1,0,9
29330,2018-01-01 23:59:56,-6043027741035473340,du_yo,fr_un,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,7
29331,2018-01-01 23:59:56,-6043027741035473340,du_yo,fr_un,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,7
29332,2018-01-01 23:59:59,-3752971326888766040,qu_ba,qu_ba,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
29333,2018-01-01 23:59:59,-3752971326888766040,qu_ba,qu_ba,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [57]:
def pivot_path(path_df):
    se = list(df.columns)[4:]
    reformatted = []
    for i in range(len(path_df)):
        l = []
        l.append(path_df.loc[i,]['datetime_bin'])
        l.append(path_df.loc[i,]['userid'])
        l.append(path_df.loc[i,]['start'])
        l.append(path_df.loc[i,]['end'])
        pathval = []
        for j in se:
            if df[j].values[i] == 1:
                pathval.append(j)
        l.append(pathval)
        reformatted.append(l)
    labels = ['datetime_bin', 'userid', 'start', 'end', 'path']
    return pd.DataFrame.from_records(reformatted, columns=labels)
    
pivot_path(df)

,datetime_bin,userid,start,end,path
0,2018-01-01 00:00:17,-4109236477481291089,du_yo,du_ja,"[du_yo, du_ja]"
1,2018-01-01 00:00:17,-4109236477481291089,du_yo,du_ja,"[du_yo, du_ja]"
2,2018-01-01 00:01:08,-1672501126208601408,du_pa,qu_bv,"[du_pa, qu_bv]"
3,2018-01-01 00:01:08,-1672501126208601408,du_pa,qu_bv,"[du_pa, qu_bv]"
4,2018-01-01 00:01:11,-5833274664015405017,du_ja,du_yo,"[du_yo, du_ja]"
5,2018-01-01 00:01:11,-5833274664015405017,du_ja,du_yo,"[du_yo, du_ja]"
6,2018-01-01 00:02:08,8147950039115731659,du_pa,du_ja,"[du_ja, du_pa]"
7,2018-01-01 00:02:08,8147950039115731659,du_pa,du_ja,"[du_ja, du_pa]"
8,2018-01-01 00:02:11,2538540623439968621,kn_df,du_df,"[du_df, kn_df]"
9,2018-01-01 00:02:11,2538540623439968621,kn_df,du_df,"[du_df, kn_df]"
10,2018-01-01 00:02:47,1200906276903573645,fr_ja,du_ja,"[du_ja, qu_ja, rm_ja, ad_ja, fr_ja]"
11,2018-01-01 00:02:47,1200906276903573645,fr_ja,du_ja,"[du_ja, qu_ja, rm_ja, ad_ja, fr_ja]"
12,2018-01-01 00:02:59,-4164760066955224419,du_df,qu_ro,"[du_df, qu_ro, qu_df]"
13,2018-01-01 00:02:59,-4164760066955224419,du_df,qu_ro,"[du_df, qu_ro, qu_df]"
14,2018-01-01 00:02:59,8620276987661645868,ad_ba,qu_ba,"[qu_ba, rm_ba, ad_ba]"
15,2018-01-01 00:02:59,8620276987661645868,ad_ba,qu_ba,"[qu_ba, rm_ba, ad_ba]"
16,2018-01-01 00:03:16,6853760512054168715,co_un,du_un,"[co_un, du_un]"
17,2018-01-01 00:03:16,6853760512054168715,co_un,du_un,"[co_un, du_un]"
18,2018-01-01 00:03:22,-7601830370391951161,qu_sp,co_un,"[co_un, qu_sp]"
19,2018-01-01 00:03:22,-7601830370391951161,qu_sp,co_un,"[co_un, qu_sp]"
20,2018-01-01 00:04:06,-3110345525259057486,co_un,du_yo,"[co_un, du_yo]"
21,2018-01-01 00:04:06,-3110345525259057486,co_un,du_yo,"[co_un, du_yo]"
22,2018-01-01 00:04:10,3165959906971385372,qu_df,kn_st,"[qu_df, kn_st]"
23,2018-01-01 00:04:10,3165959906971385372,qu_df,kn_st,"[qu_df, kn_st]"
24,2018-01-01 00:04:17,2369627545871331067,kn_ja,ad_ja,"[ad_ja, kn_ja]"
25,2018-01-01 00:04:17,2369627545871331067,kn_ja,ad_ja,"[ad_ja, kn_ja]"
26,2018-01-01 00:04:35,4744486598999005876,fr_ba,fb_ba,"[fr_ba, fb_ba]"
27,2018-01-01 00:04:35,4744486598999005876,fr_ba,fb_ba,"[fr_ba, fb_ba]"
28,2018-01-01 00:04:46,4978498391466737031,fr_sp,fb_sp,"[fr_sp, fb_sp]"
29,2018-01-01 00:04:46,4978498391466737031,fr_sp,fb_sp,"[fr_sp, fb_sp]"
...,...,...,...,...,...
29304,2018-01-01 23:59:26,2164087225125236726,qu_st,kn_ba,"[qu_st, kn_st, kn_ba]"
29305,2018-01-01 23:59:26,2164087225125236726,qu_st,kn_ba,"[qu_st, kn_st, kn_ba]"
29306,2018-01-01 23:59:28,3413433971323391265,co_ba,du_ba,"[co_ba, du_ba]"
29307,2018-01-01 23:59:28,3413433971323391265,co_ba,du_ba,"[co_ba, du_ba]"
29308,2018-01-01 23:59:30,5866023784135371270,du_ja,ad_un,"[du_ja, qu_ja, rm_un, rm_yo, ad_un]"
29309,2018-01-01 23:59:30,5866023784135371270,du_ja,ad_un,"[du_ja, qu_ja, rm_un, rm_yo, ad_un]"
29310,2018-01-01 23:59:34,-2090066052521909565,kn_df,qu_st,"[qu_df, qu_st, kn_df]"
29311,2018-01-01 23:59:34,-2090066052521909565,kn_df,qu_st,"[qu_df, qu_st, kn_df]"
29312,2018-01-01 23:59:35,5203498485482694891,fb_ba,kn_un,"[kn_ba, kn_sp, kn_un, fr_ba, fb_ba]"
29313,2018-01-01 23:59:35,5203498485482694891,fb_ba,kn_un,"[kn_ba, kn_sp, kn_un, fr_ba, fb_ba]"
29314,2018-01-01 23:59:39,-5572638897025928948,co_ba,du_yo,"[co_ba, du_ba, du_sp, du_yo, qu_st, qu_ba, qu_..."
29315,2018-01-01 23:59:39,-5572638897025928948,co_ba,du_yo,"[co_ba, du_ba, du_sp, du_yo, qu_st, qu_ba, qu_..."
29316,2018-01-01 23:59:39,-2797158226782179742,fb_sp,fb_yk,"[qu_un, rm_un, ad_un, kn_un, we_un, fr_sp, fr_..."
29317,2018-01-01 23:59:39,-2797158226782179742,fb_sp,fb_yk,"[qu_un, rm_un, ad_un, kn_un, we_un, fr_sp, fr_..."
29318,2018-01-01 23:59:42,-1772774817072405178,fr_ja,fr_ja,"[kn_ja, fr_ja]"
29319,2018-01-01 23:59:42,-1772774817072405178,fr_ja,fr_ja,"[kn_ja, fr_ja]"
29320,2018-01-01 23:59:46,1592808322351444890,du_df,fb_ba,"[du_df, qu_df, kn_df, kn_st, kn_ba, kn_sp, fr_..."
29321,2018-01-01 23:59:46,1592808322351444890,du_df,fb_ba,"[du_df, qu_df, kn_df, kn_st, kn_ba, kn_sp, fr_..."
29322,2018-01-01 23:59:50,-7180795073614553850,fr_sp,ad_sp,"[ad_sp, kn_sp, fr_sp]"
29323,2018-01-01 23:59:50,-7180795073614553850,fr_sp,ad_sp,"[ad_sp, kn_sp, fr_sp]"
29324,2018-01-01 23:59:50,-5399468081705131680,co_ba,rm_yo,"[co_ba, co_un, du_sp, du_yo, qu_st, qu_ba, qu_..."
29325,2018-01-01 23:59:50,-5399468081705131680,co_ba,rm_yo,"[co_ba, co_un, du_sp, du_yo, qu_st, qu_ba, qu_..."
29326,2018-01-01 23:59:51,2703173927225384587,fb_sp,fr_un,"[fr_un, fb_sp]"
29327,2018-01-01 23:59:51,2703173927225384587,fb_sp,fr_un,"[fr_un, fb_sp]"
29328,2018-01-01 23:59:56,-6973074664012671174,du_yo,fr_un,"[du_yo, qu_ja, kn_yo, we_yo, fr_ba, fr_sp, fr_..."
29329,2018-01-01 23:59:56,-6973074664012671174,du_yo,fr_un,"[du_yo, qu_ja, kn_yo, we_yo, fr_ba, fr_sp, fr_..."
29330,2018-01-01 23:59:56,-6043027741035473340,du_yo,fr_un,"[du_yo, qu_yo, rm_yo, kn_yo, we_yo, fr_un, fr_yo]"
29331,2018-01-01 23:59:56,-6043027741035473340,du_yo,fr_un,"[du_yo, qu_yo, rm_yo, kn_yo, we_yo, fr_un, fr_yo]"
29332,2018-01-01 23:59:59,-3752971326888766040,qu_ba,qu_ba,"[qu_ba, rm_ba]"
29333,2018-01-01 23:59:59,-3752971326888766040,qu_ba,qu_ba,"[qu_ba, rm_ba]"