In [1]:
from psycopg2 import connect
import configparser
#matplotlib inline
import numpy as np
import pandas as pd
import pandas.io.sql as pandasql
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
sns.set(color_codes=True)
from IPython.display import HTML

In [2]:
def print_table(sql, con):
    return HTML(pandasql.read_sql(sql, con).to_html(index=False))
CONFIG = configparser.ConfigParser()
CONFIG.read('db.cfg')
dbset = CONFIG['DBSETTINGS']
con = connect(**dbset)

# q1: What routes are we getting?
sql1 ='''
SELECT route, count(route)
FROM ttc.cis_2017
GROUP BY route
ORDER BY route
 '''

print_table(sql1, con)

In [3]:
# q2: How does data quantity vary by month?
sql2 ='''
SELECT date_part('month', message_datetime) AS month, count(route)
FROM ttc.cis_2017
GROUP BY month
 '''

print_table(sql2, con)

In [4]:
# q3: What are duplicate records with same vehicle and message_datetime?

sql3 = '''
select * INTO dzou2.cis_dup
from (
  SELECT *,
  COUNT(1) OVER(PARTITION BY vehicle, message_datetime) AS cnt
  FROM ttc.cis_2017
) dups
where 
dups.cnt > 1    
'''

## The selected data includes 19636 rows of data, so the table is not printed and the data are stored in dzou2.cis_dup. 
## There are some anlysis of the duplicates in the markdown cell.

Total number of of the duplicate vehicle and timestamp: __19636__

```sql
sql = SELECT count(*) FROM dzou2.cis_dup
```

Numbers of 

exact duplicate: __16736__

routes and runs both different in different positions:__186__

routes and runs both different in matched positions:__22__

same routes different runs in different positions:__1784__

same routes different runs in matched positions:__618__

same runs different routes in different positions:__178__

same runs different routes in matched positions:__112__

``` sql
sql = 
--Put all possible duplicate columns into array
WITH grouped AS (SELECT vehicle, message_datetime, 
ARRAY_AGG(route) as routes, ARRAY_AGG(run) as runs, array_agg('[' || latitude || ',' || longitude || ']') as pos
FROM dzou2.cis_dup
GROUP BY vehicle, message_datetime)
--Classify type of  duplication
, classified AS(SELECT vehicle, message_datetime,
CASE WHEN pos[1] = pos[2] AND routes[1] = routes[2] AND runs[1] = runs[2]
THEN 'exact duplicate'
WHEN pos[1] = pos[2] AND routes[1] <> routes[2] AND runs[1] = runs[2] 
THEN 'same runs different routes in matched positions'
WHEN pos[1] <> pos[2] AND routes[1] <> routes[2] AND runs[1] = runs[2] 
THEN 'same runs different routes in different positions'
WHEN pos[1] = pos[2] AND routes[1] = routes[2] AND runs[1] <> runs[2] 
THEN 'same routes different runs in matched positions'
WHEN pos[1] <> pos[2] AND routes[1] = routes[2] AND runs[1] <> runs[2] 
THEN 'same routes different runs in different positions'
WHEN pos[1] = pos[2] AND routes[1] <> routes[2] AND runs[1] <> runs[2] 
THEN 'routes and runs both different in matched positions'
WHEN pos[1] <> pos[2] AND routes[1] <> routes[2] AND runs[1] <> runs[2] 
THEN 'routes and runs both different in different positions'
ELSE 'others'
END AS type_of_dupe
FROM grouped)
--Breakdown of duplication types
SELECT type_of_dupe, COUNT(1)*2 AS count
FROM classified
GROUP BY type_of_dupe
ORDER BY type_of_dupe
```

In [5]:
# q4 part a: How do number of vehicles per route vary by month?
sql4a = '''
SELECT count (DISTINCT (vehicle, message_datetime)), route, date_part('month', message_datetime) AS month
FROM ttc.cis_2017
GROUP BY route, month
'''

print_table(sql4a, con)

In [7]:
# q4 part b: How do points per route vary by month?
sql4b = '''
SELECT count(DISTINCT (position, message_datetime)), route, date_part('month', message_datetime) AS month
FROM ttc.cis_2017
GROUP BY route, month
'''

print_table(sql4b, con)