# Exploring relationship between cod & DeviceClass
Per [our documentation](https://github.com/CityofToronto/bdit_data-sources/blob/master/bluetooth/README.md#2-table-structure-aakash), the `device_class` field is configured to be a combination of different bit flags depending on the report configuration. Some of these reports are supposed to align with the `cod` field, which represents the Bluetooth Class of Device, in order to identify what is a Bluetooth Device or a WiFi one.

In [1]:
from psycopg2 import connect
import psycopg2.sql as pg
import configparser
import datetime
%matplotlib inline
import numpy as np
import pandas as pd
import pandas.io.sql as pandasql
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
sns.set(color_codes=True)
from IPython.display import HTML
def print_table(sql, con):
    return HTML(pandasql.read_sql(sql, con).to_html(index=False))

In [2]:
CONFIG = configparser.ConfigParser()
CONFIG.read('../../db.cfg')
dbset = CONFIG['DBSETTINGS']
con = connect(**dbset)

From the `bluetooth.all_analyses` table we can see which set of device classes is used for which routes. "BT or WiFi" is used for arterials, including the DT set of routes. 1 is Bluetooth, 2 is WiFi. This is how observations are distributed between the two classes in November 2017 for all those reports

In [5]:
sql = '''SELECT device_class, COUNT(1)
FROM bluetooth.observations_201711
INNER JOIN bluetooth.all_analyses USING (analysis_id)
WHERE device_class_set_name = 'BT or WiFi' 
GROUP BY device_class
order by count DESC'''

print_table(sql, con)

   device_class     count
0             2  13805703
1             1   5426366

So about **39%** of these observations are from Bluetooth devices, which is in line with previous analysis showing **>60% WiFi** devices on Adelaide. 
How well do these match up with the class of device reported by Bluetooth devices (I know this is confusing)

In [10]:
sql = '''WITH total_cnt AS (SELECT COUNT(1) AS total 
FROM bluetooth.observations_201711
INNER JOIN bluetooth.all_analyses USING (analysis_id)
WHERE device_class_set_name = 'BT or WiFi' )

SELECT device_class, CASE WHEN cod = 0 THEN 'WiFi' ELSE 'Bluetooth' END AS cod_val, COUNT(1),
to_char(100.0*COUNT(1)/total, '99.9%') AS "Percent of observations"
FROM bluetooth.observations_201711
INNER JOIN bluetooth.all_analyses USING (analysis_id)
CROSS JOIN total_cnt
WHERE device_class_set_name = 'BT or WiFi' 
-- AND cod = 5898764
GROUP BY device_class, cod_val, total
order by count DESC'''
print_table(sql, con)

Approximately **1.0%** of all observations on these routes are being misclassified by this filter, or approximately **3%** of observations identified as "Bluetooth" by this filter report no cod.

## Highways
Highways mostly have the "TrafficFlow" deviceclassset, this is what the bit mapping for that looks like

In [11]:
sql = '''SELECT x.* FROM bluetooth.all_analyses, json_to_recordset(bluetooth.all_analyses.outcomes) AS x("deviceClassMask" int, id int, name TEXT) 
WHERE analysis_id = 1390125
'''

print_table(sql, con)

But! This is what those look like in the `observations` table.

In [13]:
sql= '''SELECT device_class, CASE WHEN cod = 0 THEN 'WiFi' ELSE 'Bluetooth' END AS cod_val, COUNT(1)
FROM bluetooth.observations_201710
INNER JOIN bluetooth.all_analyses USING (analysis_id)
WHERE device_class_set_name = 'TrafficFlow' AND analysis_id!=1388022
GROUP BY device_class, cod_val 
ORDER BY count DESC
'''

print_table(sql, con)

The top two values of 96 and 80 are sums of 64 and 32 and 16 respectively, so the `Both` bit is being set regardless of whether the device is Bluetooth of WiFI.
We can also see that there's some crossover, like in the Arterial example above, {80, WiFi}, and {96, Bluetooth} make a _very minor_ appearance