In [8]:
from psycopg2 import connect
import configparser
#matplotlib inline
import numpy as np
import pandas as pd
import pandas.io.sql as pandasql
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
sns.set(color_codes=True)
from IPython.display import HTML

In [9]:
def print_table(sql, con):
    return HTML(pandasql.read_sql(sql, con).to_html(index=False))
CONFIG = configparser.ConfigParser()
CONFIG.read('db.cfg')
dbset = CONFIG['DBSETTINGS']
con = connect(**dbset)

# q1: What routes are we getting?
sql1 ='''
SELECT route, count(route)
FROM ttc.cis
GROUP BY route
ORDER BY route
 '''

print_table(sql1, con)

In [12]:
# q2: How does data quantity vary by month?
sql2 ='''
SELECT date_part('month', message_datetime) AS month, count(route)
FROM ttc.cis
GROUP BY month
 '''

print_table(sql2, con)

In [ ]:
# q3: What are duplicate records with same vehicle and message_datetime?
sql3 = '''

'''

print_table(sql3, con)